.form{
    max-width: auto;
    margin: auto;
    padding-top: 55px;
    color: white;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.slot_row{
    padding-top: 12px;
}