

.custom{
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
}

.form-control:focus {
    background-color: #fff;
    box-shadow: none;
    border-color: #BA68C8;
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none;
}

.profile-button:hover {
    background: #682773;
}

.profile-button:focus {
    box-shadow: none;
}

.profile-button:active {
    background: #682773;
    box-shadow: none;
}

.back:hover {
    color: #682773;
    cursor: pointer;
}

.labels {
    font-size: 11px;
    
    
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8;

}

.container-rounded {
    margin-top: 100px; /* Add a top margin of 100px */
}

.cancelbutton{
    background-color: rosybrown;
    padding: 0px 24px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    height: 35px;
    border-width: 0;

}

