.home-body {
    background: url('../../../assests/pictures/homeimage.png') !important;
    height: 700px;  
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.home-heading-container{
    width: 100%;
    color: white;
    height: 100%;
    
}


.home-description{
    color: rgba(255, 255, 255, 0.684);
}

.home-section-goal{
    height: auto;
    background-color: var(--secondary-color-home);
}

.loader-spinner{
    height: 100vh;
    width: 100%;
    background-color: var(--secondary-color-home);
}




