.navbar-expand-toggle{
    background-color: var(--primary-color) !important;
    border: none;
}

.btn-close {
    background-color:var(--primary-color) !important; 
  }

  .nav-profile-icon{
    height: 30px;
    width: 30px;
  }

  .nav-profile-name{
    color: var(--primary-color);
  }