/* UserProfile.css */

/* ... (previous styles) */

.common-button {
    background-color: green; /* Choose your desired background color */
    color: white;
    border: 1px solid gray;
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.common-button:hover {
    background-color: darkgreen; /* Change the background color on hover */
    color: yellow; /* Adjust the text color on hover */
}

body {
    background: black;
}

.custom{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}